@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
#container {
    display: grid;
}

h1 {
    font-family: 'Archivo Narrow';
    text-align: center;

}

.header {
    font-family: Merriweather;
}

.content {
    margin-top: 20px;
    font-family: 'Archivo Narrow';
    font-size: 24px;
    text-align: center;
}

.buttons {
    font-family: 'Archivo Narrow';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.rock {
    grid-column: 1;
    background-color: #159363;
    padding: 15px 32px;
}

.rock:hover {
    background-color: #339D75;
}

.paper {
    grid-column: 2;
    background-color: #DA8D20;
    padding: 15px 32px;
}

.paper:hover {
    background-color: #E8A74C;
}

.scissors {
    grid-column: 3;
    background-color: #C61D4A;
    padding: 15px 32px;
}

.scissors:hover {
    background-color: #D2456B;
}
